* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.app {
  
  .overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

    .drawer{
      position: absolute;
      width: 385px;
      height: 100%;
      right: 0;
      z-index: 99;
      background: #FFFFFF;
      box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
      padding: 32px 30px 30px 30px;

      h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 30px;
      }

    }
    
    
  }
  
  
  .app-mainblock{
    // position: absolute;
    // width: 100%;
    
    left: 85px;
    right: 85px;
    top: 85px;
    bottom: 85px;
    max-width: 1080px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 50px auto;

    header{
      padding-top: 43px;
      padding-bottom: 43px;
      padding-left: 45px;
      border-bottom: 1px solid #EAEAEA;

      .links{
        cursor: pointer;
      }

      .left-part{
        align-items: center;
        p, h6{
          margin: 0px;
        }
        h6{
          font-weight: bold;
        }
  
        p{
          font-weight: 400;
          color: #9D9D9D;
        }

        img{
          margin-right: 16px;
        }
      }
    }
  }
}

.app-card{
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  background: #FFFFFF;

  height: 260px;
  width: 210px;

  padding: 20px 29px 34px 30px;
  margin-bottom: 40px;



  .favorite{
    position: absolute;
    cursor: pointer;
  }
  // .like{
  //   position: absolute;
  //   top: 50px;
  //   left: -5px;
  // }


  .description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  div{
    .header-price{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: #BDBDBD;
    }
    .price{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #000000;
    }
  }
}

.app-card:hover{
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}

.upper-part{}
.bottom-part{}

.drawer-item{
  padding: 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  margin-bottom: 20px;

  div{
    margin-left: 21px;
    margin-right: 12px;

    p{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
    }
    span{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
  }
}



