* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.app {
  

  
  .app-mainblock{
    // position: absolute;
    // width: 100%;
    
    left: 85px;
    right: 85px;
    top: 85px;
    bottom: 85px;
    max-width: 1080px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 50px auto;

    header{
      padding-top: 43px;
      padding-bottom: 43px;
      padding-left: 45px;
      border-bottom: 1px solid #EAEAEA;

      .left-part{
        align-items: center;
        p, h6{
          margin: 0px;
        }
        h6{
          font-weight: bold;
        }
  
        p{
          font-weight: 400;
          color: #9D9D9D;
        }

        img{
          margin-right: 16px;
        }
      }
    }
  }
}

.app-card{
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  background: #FFFFFF;

  height: 260px;
  width: 210px;

  padding: 20px 29px 34px 30px;
  margin-bottom: 40px;




  .like{
    position: relative;
    top: 50px;
    left: -5px;
  }


  .description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  div{
    .header-price{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: #BDBDBD;
    }
    .price{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #000000;
    }
  }
}

.app-card:hover{
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}



